@charset "UTF-8";
.fl-builder-edit.rsw-bb-ui-on {
  /* This does not exist
  .fl-visible-xl::after {
    content: "\f547";
  }

  */
  /*.fl-visible-desktop-medium::after {
    content: "\f547";
  }

  .fl-visible-desktop::after {
    content: "\f547";
  }*/
  /* FUTURE ENHANCEMENT
  .fl-visible-mobile {
    position: absolute;
    left: -9999em;
    height: 0;
  }*/
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium-mobile,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop-medium,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large-medium,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-xl {
  box-shadow: 0 0 0 2px #44cd84;
  position: relative;
  border-radius: 4px;
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile.fl-row, .fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile.fl-col,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium-mobile.fl-row,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium-mobile.fl-col,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium.fl-row,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium.fl-col,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop-medium.fl-row,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop-medium.fl-col,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop.fl-row,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop.fl-col,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large-medium.fl-row,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large-medium.fl-col,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large.fl-row,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large.fl-col,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-xl.fl-row,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-xl.fl-col {
  box-shadow: none;
  box-shadow: inset 0 0 0 2px #44cd84;
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile::after,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium-mobile::after,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium::after,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop-medium::after,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop::after,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large-medium::after,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large::after,
.fl-builder-edit.rsw-bb-ui-on .fl-visible-xl::after {
  content: "";
  background: #44cd84;
  color: #2c3032;
  font-family: "dashicons", Arial, sans-serif;
  line-height: 1.2;
  display: inline-block;
  position: absolute;
  top: -15px;
  right: 7px;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  vertical-align: top;
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile::after {
  content: "";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium::after {
  content: "";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large::after {
  content: "";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-desktop::after {
  content: "";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile.fl-visible-medium::after {
  content: "+";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile.fl-visible-medium.fl-visible-large::after {
  content: "++";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium.fl-visible-large::after {
  content: "+";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium.fl-visible-large.fl-visible-desktop::after {
  content: "++";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-large.fl-visible-desktop::after {
  content: "+";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile.fl-visible-large::after {
  content: "+";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile.fl-visible-desktop::after {
  content: "+";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-mobile.fl-visible-medium.fl-visible-desktop::after {
  content: "++";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium.fl-visible-large::after {
  content: "+";
}
.fl-builder-edit.rsw-bb-ui-on .fl-visible-medium.fl-visible-desktop::after {
  content: "+";
}

.rsw-bb-ui-button, .rsw-bb-ui-button:active, .rsw-bb-ui-button:focus {
  background: #c3d3d5;
  border: 1px solid #c3d3d5;
  border-radius: 5px;
  color: #5d6869;
  transition: all 0.25s ease-in-out;
}
.rsw-bb-ui-button .dashicons-hidden, .rsw-bb-ui-button:active .dashicons-hidden, .rsw-bb-ui-button:focus .dashicons-hidden {
  display: none;
}
.rsw-bb-ui-button:hover, .rsw-bb-ui-button:active:hover, .rsw-bb-ui-button:focus:hover {
  background: #dbe6e9;
  border-color: #dbe6e9;
}
.rsw-bb-ui-button.rsw-bb-ui-button--on, .rsw-bb-ui-button:active.rsw-bb-ui-button--on, .rsw-bb-ui-button:focus.rsw-bb-ui-button--on {
  background: #44cd84;
  border-color: #44cd84;
  color: #2c3032;
}
.rsw-bb-ui-button.rsw-bb-ui-button--on .dashicons-visibility, .rsw-bb-ui-button:active.rsw-bb-ui-button--on .dashicons-visibility, .rsw-bb-ui-button:focus.rsw-bb-ui-button--on .dashicons-visibility {
  display: none;
}
.rsw-bb-ui-button.rsw-bb-ui-button--on .dashicons-hidden, .rsw-bb-ui-button:active.rsw-bb-ui-button--on .dashicons-hidden, .rsw-bb-ui-button:focus.rsw-bb-ui-button--on .dashicons-hidden {
  display: inline-block;
}

.rsw-bb-ui-button__visibility {
  font-family: "dashicons", Arial, sans-serif;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
}
